.App {
  text-align: center;
}

.Loading-screen {
  animation: App-logo-spin infinite 5s linear;

  pointer-events: none;
  padding-bottom: 20px;
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  background-color: #4e4e4e;
  height: 40px;
  width: 40px;
  float: right;
  margin: 0;
  cursor: pointer;
  user-select:none;
}

.safe-cell {
  background-color: #9e9ba0;
  height: 40px;
  width: 40px;
  float: right;
  margin: 0;
  cursor: pointer;
  user-select:none;
}

.danger-cell {
  background-color: #fb3800;
  height: 40px;
  width: 40px;
  float: right;
  margin: 0;
  cursor: pointer;
  user-select:none;
}

.complete-footer {
  background-color: #007600;
  color: #ffffff;
}
