.App {
    text-align: center;
    user-select: none;
}

button {
    font-size: 130%
}

* {
    font-family: 'BebasNeueRegular';
}

.clickable {
    user-select: none;
    cursor: pointer;
}

.Loading-screen {
    animation: spin infinite 5s linear;

    pointer-events: none;
    padding-bottom: 20px;
}

.App-header {
    background-color: #222222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes wobble {
    from {transform: translate(-10px);}
    to {transform: translate(10px);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.threed-border {
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 3px;
}

.cell {
    background-color: #656666;
    height: 36px;
    width: 36px;
    float: right;
    margin: 0;
    cursor: pointer;
    user-select: none;
    font-size: 32px;
}

.content-cell {
    background-color: #656666;
    height: 36px;
    width: 36px;
    float: right;
    margin: 0;
    user-select: none;
    font-size: 32px;
}

.safe-cell {
    background-color: #9e9ba0;
    height: 36px;
    width: 36px;
    float: right;
    margin: 0;
    user-select: none;
}

.danger-cell {
    background-color: #fb3800;
    height: 40px;
    width: 40px;
    float: right;
    margin: 0;
    user-select: none;
}

.complete-screen {
    background-color: #007600;
    color: #ffffff;
}

.fail-screen {
    background-color: #760007;
    color: #ffffff;
}
